# Import libraries

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Non-sarcastic

## Scraping headlines from Google News

In [ ]:
url_business = 'https://news.google.com/topics/CAAqJggKIiBDQkFTRWdvSUwyMHZNRFZxYUdjU0FtVnVHZ0pWVXlnQVAB/sections/CAQiSENCQVNNQW9JTDIwdk1EVnFhR2NTQW1WdUdnSlZVeUlPQ0FRYUNnb0lMMjB2TURsek1XWXFEQW9LRWdoQ2RYTnBibVZ6Y3lnQSoqCAAqJggKIiBDQkFTRWdvSUwyMHZNRFZxYUdjU0FtVnVHZ0pWVXlnQVABUAE?hl=en-US&gl=US&ceid=US%3Aen'
url_health = 'https://news.google.com/topics/CAAqJggKIiBDQkFTRWdvSUwyMHZNRFZxYUdjU0FtVnVHZ0pWVXlnQVAB/sections/CAQiRkNCQVNMZ29JTDIwdk1EVnFhR2NTQW1WdUdnSlZVeUlPQ0FRYUNnb0lMMjB2TUd0ME5URXFDZ29JRWdaSVpXRnNkR2dvQUEqKggAKiYICiIgQ0JBU0Vnb0lMMjB2TURWcWFHY1NBbVZ1R2dKVlV5Z0FQAVAB?hl=en-US&gl=US&ceid=US%3Aen'
url_technology = 'https://news.google.com/topics/CAAqJggKIiBDQkFTRWdvSUwyMHZNRFZxYUdjU0FtVnVHZ0pWVXlnQVAB/sections/CAQiS0NCQVNNZ29JTDIwdk1EVnFhR2NTQW1WdUdnSlZVeUlPQ0FRYUNnb0lMMjB2TURkak1YWXFEZ29NRWdwVVpXTm9ibTlzYjJkNUtBQSoqCAAqJggKIiBDQkFTRWdvSUwyMHZNRFZxYUdjU0FtVnVHZ0pWVXlnQVABUAE?hl=en-US&gl=US&ceid=US%3Aen'
url_science = 'https://news.google.com/topics/CAAqJggKIiBDQkFTRWdvSUwyMHZNRFZxYUdjU0FtVnVHZ0pWVXlnQVAB/sections/CAQiR0NCQVNMd29JTDIwdk1EVnFhR2NTQW1WdUdnSlZVeUlPQ0FRYUNnb0lMMjB2TURadGNUY3FDd29KRWdkVFkybGxibU5sS0FBKioIAComCAoiIENCQVNFZ29JTDIwdk1EVnFhR2NTQW1WdUdnSlZVeWdBUAFQAQ?hl=en-US&gl=US&ceid=US%3Aen'
url_world = 'https://news.google.com/topics/CAAqJggKIiBDQkFTRWdvSUwyMHZNRFZxYUdjU0FtVnVHZ0pWVXlnQVAB/sections/CAQiRENCQVNMUW9JTDIwdk1EVnFhR2NTQW1WdUdnSlZVeUlPQ0FRYUNnb0lMMjB2TURsdWJWOHFDUW9IRWdWWGIzSnNaQ2dBKioIAComCAoiIENCQVNFZ29JTDIwdk1EVnFhR2NTQW1WdUdnSlZVeWdBUAFQAQ?hl=en-US&gl=US&ceid=US%3Aen'
url_us = 'https://news.google.com/topics/CAAqJggKIiBDQkFTRWdvSUwyMHZNRFZxYUdjU0FtVnVHZ0pWVXlnQVAB/sections/CAQiRENCQVNMUW9JTDIwdk1EVnFhR2NTQW1WdUdnSlZVeUlQQ0FRYUN3b0pMMjB2TURsak4zY3dLZ2dLQmhJRVZTNVRMaWdBKioIAComCAoiIENCQVNFZ29JTDIwdk1EVnFhR2NTQW1WdUdnSlZVeWdBUAFQAQ?hl=en-US&gl=US&ceid=US%3Aen'
url_sport = 'https://news.google.com/topics/CAAqJggKIiBDQkFTRWdvSUwyMHZNRFZxYUdjU0FtVnVHZ0pWVXlnQVAB/sections/CAQiRkNCQVNMZ29JTDIwdk1EVnFhR2NTQW1WdUdnSlZVeUlPQ0FRYUNnb0lMMjB2TURadWRHb3FDZ29JRWdaVGNHOXlkSE1vQUEqKggAKiYICiIgQ0JBU0Vnb0lMMjB2TURWcWFHY1NBbVZ1R2dKVlV5Z0FQAVAB?hl=en-US&gl=US&ceid=US%3Aen'
urls = [url_business, url_health, url_technology, url_science, url_sport, url_world, url_us]
result_0 = []
for url in urls:
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    headlines = soup.find('body').find_all('h4')
    for x in headlines:
        result_0.append(x.text.strip())

## Scraping headlines from BBC News

In [ ]:
urls = ['https://www.bbc.com/news/world-60525350', 
        'https://www.bbc.com/news/coronavirus', 
        'https://www.bbc.com/news/science-environment-56837908']
for url in urls:
    response = requests.get(url)
    temp = []
    soup = BeautifulSoup(response.text, 'html.parser')
    headlines = soup.find('body').find_all('h3')
    for x in headlines:
        temp.append(x.text.strip())
    temp = temp[:len(temp)-3]
    result_0 = [*result_0, * temp]

In [ ]:
len(result_0)

1266

# Sarcastic

## Scarping headlines from The Hard Times

In [ ]:
result_1 = []
for i in range(100):
    url= 'https://thehardtimes.net/page/' + str(i) + '/'
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    headlines = soup.find('body').find_all('h2')
    for x in headlines:
        if x.text.strip() == 'Posts navigation' or x.text.strip() ==  'The Hard Times Blog' or x.text.strip() == 'Exclusives' or x.text.strip() == 'Hard Drive' or x.text.strip() == 'Sponsored Post' or x.text.strip() == 'Support the Hard Times!':
            continue
        else:
            result_1.append(x.text.strip())

In [ ]:
len(result_1)

1500

# Combines non-sarcastic and sarcastic headlines

In [ ]:
result = [*result_0, *result_1]
len(result)

2766

# Create dataframe

In [ ]:
df = pd.DataFrame (result, columns = ['Headline'])
type_0 = [0] * len(result_0)
type_1 = [1] * len(result_1)
type = [*type_0, *type_1]
df['is_sarcastic'] = type
df

                                               Headline  is_sarcastic
0     Jif issues voluntary recall of certain peanut ...             0
1     Potential salmonella contamination forces food...             0
2            J.M. Smucker Recalling Select Jif Products             0
3     Jif peanut butter recalled for salmonella cont...             0
4     Asia-Pacific stocks set to open mixed as globa...             0
...                                                 ...           ...
2761            Straight Man Weirdly Jealous of Lesbian             1
2762  We Look Back at All of Our Past Failures Becau...             1
2763  Metal Band Offering Summer Internships to Medi...             1
2764  Scrooge McDuck Has No Fucking Idea Where to Sw...             1
2765  I Seriously Doubt All of These Bathroom Graffi...             1

[2766 rows x 2 columns]

# Save dataframe

In [ ]:
df.to_csv('/content/drive/MyDrive/CS114/sarcasm/test/data.csv')